<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   
  </head>
  <body>
      <div class="container">
          <div class="row"></div>
      
      <h1>Upload File</h1>
      <form method="post" action="/upload" enctype="multipart/form-data">
      <label>Upload File:</label>
      <input type="file" name="filee" placeholder="Choose any File"><br>
      <input type="submit" name="sub" value="Upload">
    </form>
</div></div>